/* @import url('https://fonts.googleapis.com/css?family=Nunito+Sans'); */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5ebfbe;
  background-image: linear-gradient(
    to left top,
    #00aaaa,
    #5ebfbe,
    #90d4d2,
    #bce9e7,
    #e7fefd
  );
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  
}

code {
  font-family: "Lato", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100vw;
  max-width: 90%;
  margin: auto auto;
  padding: 1vw;
}

.pseudo-container {
  display: flex;
  position: relative;
  max-width: 1000px;
}

.input-form {
  border-radius: 10px;
  border: 0;

  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
  background: hsl(0, 0%, 97%);
  padding: 10px 30px;
}

.input-container {
  border-top: #00aaaa 10px solid;
  border-radius: 10px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.6);
  background: hsl(0, 0%, 97%);
  margin-top: 10px;
}

.greeting-container {
  border-radius: 10px;
  border: 3px blue dashed;
}

h1 {
  color: hsl(0, 0%, 14%);
  font-weight: 700;
}

p {
  color: hsl(0, 0%, 29%);
  font-weight: 450;
}

input {
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.02);
  border-radius: 5px;
}

.input {
  color: hsl(0, 0%, 14%);
}

button {
  border: 0;
  border-radius: 3px;
  padding: 13px;

  background-color: #00aaaa;
  /* background-image: linear-gradient(
    to left top,
    #00aaaa,
    #5ebfbe,
    #90d4d2
  ); */
  color: hsl(0, 0%, 97%);
  margin-left: 5px;
  margin-top: 5px;
}

.btnlink{
    border: 0;
    border-radius: 3px;
    padding: 13px;

    background-color: #00aaaa;
    color: hsl(0, 0%, 97%);
    margin-left: 5px;
    margin-top: 5px;
}

.music-btn {
  position: absolute;
  right: 5vw;
  bottom: 0;
  border: 3px solid #00aaaa;
  padding: 10px;
  border-radius: 10px 15px;
  background-color: white;
  /* color: #00aaaa; */
  color:rgb(56, 50, 50);
}

.back {
  background-color: transparent;
  color: hsl(0, 0%, 29%);
}

.link-icon {
  height: 5vh;
  padding-left: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    padding: 25px 10px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    padding: 25px calc((100vw - 960px) / 2);
  }
}
